@import url('https://fonts.googleapis.com/css?family=Roboto&display=swap');

body {
	font-family: Roboto;
	color: #4ecdc4;
	background-color: #1d1d1d;

	margin-left: 150px;
	margin-right: 150px;
	letter-spacing: 1px;
}

header,
footer {
	margin-top: 50px;
	margin-bottom: 50px;
	text-align: center;
}

main {
	margin-left: 100px;
	margin-right: 100px;
	color: #f3f3f3;
}

h1,
h2,
h3 {
	text-align: center;
	line-height: 0px;
	letter-spacing: 2px;
}

a {
	text-decoration: none;
	color: lightseagreen;
	font-weight: bold;
}

a:hover {
	text-decoration: underline;
	color: mediumseagreen;
}

figure {
	text-align: center;
	padding-bottom: 50px;
	padding-top: 25px;
}

figcaption {
	font-style: italic;
}

nav {
	text-align: center;
	padding-bottom: 60px;
}
