@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

* {
	box-sizing: border-box;
}

body {
	font-family: "Roboto", Helvetica, sans-serif;
	color: #4ecdc4;
	background-color: #1d1d1d;

	margin-left: 150px;
	margin-right: 150px;
	letter-spacing: 1px;
}

header,
footer {
	margin-top: 50px;
	margin-bottom: 50px;
	text-align: center;
}

main {
	margin-left: 100px;
	margin-right: 100px;
	color: #f3f3f3;
}

h1 {
	margin-top: 100px;
	text-align: center;
	letter-spacing: 2px;
	font-size: 40px;
}

h2 {
	margin-top: 64px;
	margin-bottom: 64px;
	text-align: center;
	letter-spacing: 2px;
	font-size: 32px;
}

h3 {
	margin-top: 48px;
	margin-bottom: 32px;
	text-align: center;
	letter-spacing: 2px;
	font-size: 28px;
}
.evaluation-source {
	text-decoration: underline;
}

ul {
	width: 60%;
	margin-left: auto;
	margin-right: auto;
}

ol {
	margin-left: 25%;
}

li {
	font-size: 18px;
	padding-bottom: 12px;
	line-height: 1.5;
}

.intro-item {
	padding-bottom: 10px;
}

p {
	line-height: 1.5;
	font-size: 18px;
}
.centered-pgh {
	text-align: center;
}

.colored-cells {
	background-color: #2b2b2b;
}
.dark-cells {
	background-color: #3b3b3b;
}
#total-years {
	text-align: left;
}
#polygons-instructions {
	text-align: center;
}


/* LINKS */
a {
	text-decoration: none;
	color: #20b2aa;
	font-weight: bold;
}

a:hover {
	text-decoration: none;
	color: #5bc5c0;
}


/* FIGURE */
figure {
	margin-left: auto;
	margin-right: auto;
	text-align: center;
	padding-bottom: 50px;
	padding-top: 25px;
	width: 75%;
}

figcaption {
	margin-top: 10px;
	font-style: italic;
}


/* NAVIGATION */
nav {
	font-size: 20px;
	margin-top: 40px;
	text-align: center;
}

.footer-nav {
	margin-bottom: 20px;
}

footer a {
	color: #80d3cf;
}

footer a:hover {
	color: #20b2aa;
}


/* FORM */
form {
	padding-top: 40px;
	line-height: 1.5;
	width: 50%;
	margin-left: auto;
	margin-right: auto;
}

input {
	color: #1d1d1d;
	background-color: #e2e2e2;
}

#dob-comment {
	color: rgba(255, 255, 255, 0.3);
}

.form-required::after {
	content: " *";
	color: #1ac29d;
}

fieldset {
	margin-bottom: 40px;
}

#reset-application {
	background-color: #9e4f4f; 
	color:#ebebeb; 
	padding: 5px;
}

#submit-appplication {
	background-color: #28723e; 
	color:#ebebeb; 
	padding: 5px; 
	margin-left: 10px;
}


/* TABLE */
table {
	margin-left: auto;
	margin-right: auto;
	border-collapse: collapse;
	font-size: 18px;
}

td {
	border: 1px solid #e2e2e2;
	text-align: left;
	padding: 10px;
}

th {
	border: 1px solid #e2e2e2;
	text-align: left;
	padding: 8px;
	background-color: #3b3b3b;
	text-align: center;
}

tr:nth-child(even) {
	background-color: #2b2b2b;
}

/* FCC Calculator */
.container {
	max-width: 20em;
}

.container > p {
	text-align: center;
}

.calculator {
	border-radius: 12px;
	box-shadow: 0 0 40px 0px rgba(0, 0, 0, 0.15);
	margin-left: auto;
	margin-right: auto;
	margin-top: 2em;
	max-width: 15em;
	overflow: hidden;
}

.calculator__display {
	background-color: #222222;
	color: #fff;
	font-size: 1.714285714em;
	padding: 0.5em 0.75em;
	text-align: right;
}

.calculator__keys {
	background-color: #999;
	display: grid;
	grid-gap: 1px;
	grid-template-columns: repeat(4, 1fr);
}

.calculator__keys > * {
	background-color: #fff;
	padding: 0.5em 1.25em;
	position: relative;
	text-align: center;
}

.calculator__keys > *:active::before,
.calculator__keys > .is-depressed::before {
	background-color: rgba(0, 0, 0, 0.2);
	bottom: 0;
	box-shadow: 0 0 6px 0 rgba(0, 0, 0, 0.5) inset;
	content: "";
	left: 0;
	opacity: 0.3;
	position: absolute;
	right: 0;
	top: 0;
	z-index: 1;
}

.key--operator {
	background-color: #eee;
}

.key--equal {
	background-image: linear-gradient(to bottom, #fe886a, #ff7033);
	grid-column: -2;
	grid-row: 2 / span 4;
}

/* Arrays Page */
#salary-input-form {
	padding-left: 10px;
	border-radius: 10px;
}
.arrays-label {
	margin: 10px;
}
.arrays-button {
	border-style: none;
	padding: 10px 15px 10px 15px;
	border-radius: 5px;
}
.arrays-controls {
	margin-top: -20px;
	margin-left: auto;
	margin-right: auto;
	padding-left: 18px;
}
#arrays-table {
	margin-top: 64px;
	border: 0px ;
}

/* project Outline */
.outline-pgh {
	width: 75%;
	margin-left: auto;
	margin-right: auto;
	line-height: 1.5;
}
.outline-main-list {
	width: 65%;
	margin-left: auto;
	margin-right: auto;
}
.outline-heading {
	text-align: left;
	width: 85%;
	margin-left: auto;
	margin-right: auto;
	font-size: 24px;
	color: #4ecdc4;	
}
.list-section-heading {
	width: 75%;
	margin-left: auto;
	margin-right: auto;
	font-size: 24px;
	margin-bottom: -10px;
}
.section-tier-1 {
	width: 70%;
	margin-left: auto;
	margin-right: auto;
}
.section-tier-2,
.section-tier-3 {
	width: 100%;
	margin-left: auto;
	margin-right: auto;
}
.section-tier-4 {
	width: 80%;
	margin-left: -10px;
	margin-right: auto;
	list-style-type: circle;
}

/* SLIDESHOW */
* {
	box-sizing: border-box;
}
.slideshow-container {
	position: relative;
}
.mySlides {
	display: none;
}
.cursor {
	cursor: pointer;
}
.prev,
.next {
	cursor: pointer;
	position: absolute;
	top: 40%;
	width: auto;
	padding: 16px;
	margin-top: -50px;
	color: white;
	font-weight: bold;
	font-size: 20px;
	border-radius: 0 3px 3px 0;
	user-select: none;
	-webkit-user-select: none;
}
.next {
	right: 0;
	border-radius: 3px 0 0 3px;
}
.prev:hover,
.next:hover {
	background-color: rgba(0, 0, 0, 0.8);
}
.numbertext {
	color: #f2f2f2;
	font-size: 12px;
	padding: 8px 12px;
	position: absolute;
	top: 0;
}
.caption-container {
	text-align: center;
	background-color: #222;
	padding: 2px 16px;
	color: white;
}
.row:after {
	content: "";
	display: table;
	clear: both;
}
.column {
	float: left;
	width: 16.66%;
}
.demo {
	opacity: 0.6;
}
.active,
.demo:hover {
	opacity: 1;
}


/* PEER REVIEWS */
.left-aligned {
	text-align: left;	
}

.peer-review-content {
	max-width: 20%;
	margin-left: auto;
	margin-right: auto;
}


/* ACTIVITY 11 - ACCORDION */
#accordion {
	width: 75%;
	margin-left: auto;
	margin-right: auto;
}
#accordion > p {
	font-family: "Roboto", Helvetica, sans-serif !important;
}
#accordion > h3 {
	font-family: "Roboto", Helvetica, sans-serif !important;
}