@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

body {
	font-family: Roboto;
	color: #4ecdc4;
	background-color: #1d1d1d;

	margin-left: 150px;
	margin-right: 150px;
	letter-spacing: 1px;
}

header,
footer {
	margin-top: 50px;
	margin-bottom: 50px;
	text-align: center;
}

main {
	margin-left: 100px;
	margin-right: 100px;
	color: #f3f3f3;
}

h1 {
	margin-top: 100px;
	text-align: center;
	letter-spacing: 2px;
	font-size: 40px;
}

h2 {
	margin-top: 64px;
	margin-bottom: 64px;
	text-align: center;
	letter-spacing: 2px;
	font-size: 32px;
}

h3 {
	margin-top: 48px;
	margin-bottom: 32px;
	text-align: center;
	letter-spacing: 2px;
	font-size: 28px;
}

ul {
	width: 60%;
	margin-left: auto;
	margin-right: auto;
}

li {
	font-size: 18px;
	padding-bottom: 12px;
	line-height: 1.5;
}

.intro-item {
	padding-bottom: 10px;
}

p {
	line-height: 1.5;
	font-size: 18px;
}


/* LINKS */
a {
	text-decoration: none;
	color: #20b2aa;
	font-weight: bold;
}

a:hover {
	text-decoration: none;
	color: #5bc5c0;
}


/* FIGURE */
figure {
	margin-left: auto;
	margin-right: auto;
	text-align: center;
	padding-bottom: 50px;
	padding-top: 25px;
	width: 75%;
}

figcaption {
	margin-top: 10px;
	font-style: italic;
}


/* NAVIGATION */
nav {
	font-size: 20px;
	margin-top: 40px;
	text-align: center;
}

.footer-nav {
	margin-bottom: 20px;
}

footer a {
	color: #80d3cf;
}

footer a:hover {
	color: #20b2aa;
}


/* FORM */
form {
	padding-top: 40px;
	line-height: 1.5;
	width: 50%;
	margin-left: auto;
	margin-right: auto;
}

input {
	color: #1d1d1d;
	background-color: #e2e2e2;
}

#dob-comment {
	color: rgba(255, 255, 255, 0.3);
}

.form-required::after {
	content: " *";
	color: #1ac29d;
}

fieldset {
	margin-bottom: 40px;
}


/* TABLE */
table {
	margin-left: auto;
	margin-right: auto;
	border-collapse: collapse;
	font-size: 18px;
}

td {
	border: 1px solid #e2e2e2;
	text-align: left;
	padding: 10px;
}

th {
	border: 1px solid #e2e2e2;
	text-align: left;
	padding: 8px;
	background-color: #3b3b3b;
	text-align: center;
}

tr:nth-child(even) {
	background-color: #2b2b2b;
}