@import url('https://fonts.googleapis.com/css?family=Open+Sans&display=swap');

* {
	background-color: #1D1D1D;
	font-family: 'Roboto';
}
a {
	color: #62CFFF;
	text-decoration: none;
}
a:hover {
	color: #57BBE6;
}
.intro {
	max-width: 1200px;
	display: inline-block;
	color: #FF4A4A;
	font-weight: 500;
	font-size: 40px;
}
body {
	font-color: #f3f3f3;
	max-width: 1600px;
	margin-left: 5%;
	display: inline-block;
}
.title {
	font-size: 40px;
	font-weight: 700;
	color: #EBEBEB;
	padding-top: 50px;
	letter-spacing: 1px;
}
.menu {
	padding-top: 30px;
	text-align: left;
	line-height: 1.5;
	color: #EC9110;
	font-size: 24px;
	letter-spacing: 1px;
}
