@import url('https://fonts.googleapis.com/css?family=Roboto&display=swap');

* {
	line-height: 1.5;
}

body {
	font-family: Roboto, SANS-SERIF;
	color: #4ecdc4;
	background-color: #1d1d1d;
	letter-spacing: 1px;

	position: absolute;
    top: 50%;
    left: 50%;
    -moz-transform: translateX(-50%) translateY(-50%);
    -webkit-transform: translateX(-50%) translateY(-50%);
    transform: translateX(-50%) translateY(-50%);
}

header {
	margin-top: 50px;
	margin-bottom: 50px;
	text-align: center;
}

footer {
	margin-top: 100px;
	margin-bottom: 50px;
	text-align: center;
}

main {
	margin-left: 100px;
	margin-right: 100px;
	color: #f3f3f3;
}

h1 {
	letter-spacing: 2px;
	line-height: 1.5;
}

p {
	text-align: center;
}

a {
	text-decoration: none;
	color: #20b2aa;
	font-weight: bold;
}

a:hover {
	color: #5bc5c0;
}
