/* Main Fonts */
@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

/* Brand Fonts */
/* KoHo */
@import url('https://fonts.googleapis.com/css2?family=KoHo:ital,wght@0,400;0,700;1,600&display=swap');
/* Dancing Script */
@import url('https://fonts.googleapis.com/css2?family=Dancing+Script:wght@700&display=swap');

* {
    margin: 0;
    box-sizing: border-box;
}
body {
    font-family: "Roboto", Helvetica, sans-serif;
    background-color: #fefefe;
    line-height: 1.5;
    letter-spacing: 1px;
}
.content {
    padding-top: 32px;
    padding-right: 10vw;
    padding-bottom: 150px;
    padding-left: 10vw;
    margin-top: 105px;
}
h1 {
    font-size: 2.5rem;
}
h3 {
    font-size: 1.25rem;
}
footer {
    padding-top: 50px;
	padding-bottom: 50px;
	text-align: center;
    background-color: #1d1d1d;
    color: #a7a7a7;
}
footer a {
    color: #b4b4b4;
    font-weight: bold;
    text-decoration: none;
}

/* Sticky Navbar */
#navbar {
    background-color: #fefefe;
    overflow: hidden;
    padding-top: 20px;
    position: fixed;
    display: inline-block;
    vertical-align: top;
    font-size: 16px;
    padding-left: 5vw;
    height: 85px;
    box-shadow: 0 2px 2px -1px rgba(0,0,0,.2);
    
    /* Make navbar stay at top */
    position: fixed;
    top: 0;
    width: 100%;
}
#navbar > a {
    float: left;
    color: #1d1d1d;
    text-align: center;
    padding: 12px 10px 10px 10px;
    text-decoration: none;
}
#navbar > a:hover {
    font-weight: 700;
}
#navbar a.active {
    color: #FA5183;
    font-weight: bold;
}
#navbar .logo {
    vertical-align: top;
    max-width: 120px;
    margin-right: 20px;
    float: left;
}


/* HOME PAGE */
.hero-image {
    background-image: linear-gradient(45deg, rgba(22, 22, 22, 0.7) 50%, rgba(197, 226, 81, .25)), url("../images/hero.jpg");
    
    height: 25%;
    background-position: top;
    background-repeat: no-repeat;
    background-size: cover;

    padding-top: 15vh;
    padding-bottom: 15vh;

    margin-top: 85px;
}
.hero-text {
    padding-left: 15vw;
}
.hero-text h2 {
    line-height: 1.2;
    font-size: 3rem;
    font-family: "KoHo", sans-serif;
    color: #fefefe
}
.hero-text strong {
    color: #ff8ac3;
}
#hero-button {
    font-family: "Roboto", Helvetica, sans-serif;
    margin-top: 40px;
    border-style: none;
    padding: 18px 25px 15px 25px;
    border-radius: 50px;
    background-color: #E77EB0;
    color: #fefefe;
    font-weight: 700;
    font-size: 1rem;
    letter-spacing: .4px;
    background: linear-gradient(45deg, rgba(250, 81, 131, 1), rgba(255, 130, 190, 1));
    cursor: pointer;
}
#hero-button:hover {
    background: #fefefe;
    color:#fa5183;
}

/* Attention Grabber */
.attention-grabber h1 {
    text-align: center;
    padding-top: 50px;
    padding-bottom: 50px;
}
.attention-grabber strong {
    color:#fa5183;
}
.attention-grabber img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 500px;
    max-width: 100%;
    border-radius: 25px;
    margin-bottom: 8vh;
}
#flavor-text {
    margin-top: -100px;
    margin-bottom: 4vh;
}


/* PROGRAMS PAGE */
#programs-content {
    max-width: 100vw;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(3, 1fr);
    grid-column-gap: 2vw;
    grid-row-gap: 5vh;
}

#title1 { grid-area: 1 / 1 / 2 / 2; }
#description1 { grid-area: 1 / 2 / 2 / 3; }
#title2 { grid-area: 2 / 1 / 3 / 2; }
#description2 { grid-area: 2 / 2 / 3 / 3; }
#title3 { grid-area: 3 / 1 / 4 / 2; }
#description3 { grid-area: 3 / 2 / 4 / 3; }

.description p {
    padding-top: 10px;
}
.description li {
    line-height: 2;
}
.description ul {
    margin-top: 20px;
}
.program-title {
    color:#fa5183;

}
.program-subtitle {
    font-weight: normal;
    font-size: 1.25rem;
}
.program-button {
    font-family: "Roboto", Helvetica, sans-serif;
    border-style: solid;
    border-color: #1d1d1d;
    border-radius: 50px;
    font-size: 1rem;
    background-color: #fefefe;
    padding: 15px 30px 15px 30px;
    margin-top: 24px;
    cursor: pointer;
}
.program-button:hover {
    background: #1d1d1d;
    color: #fefefe;
}


/* ABOUT PAGE */
#about-content {
    height: 100vh;
}

/* Flex Container Setup */
.flex-container {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: normal;
    align-items: normal;
    align-content: normal;
    align-items: center;
}
.flex-items:nth-child(1) {
    display: block;
    flex-grow: 0;
    flex-shrink: 1;
    flex-basis: auto;
    align-self: auto;
    order: 0;
    width: 50%;
    padding-left: 20vh;
}
.flex-items:nth-child(2) {
    display: block;
    flex-grow: 0;
    flex-shrink: 1;
    flex-basis: auto;
    align-self: auto;
    order: 0;
    width: 50%;
    padding-left: 10vh;
}

/* Page Content */
#headshot {
    max-height: 60vh;
    border-radius: 10px;
}
#bio {
    margin-right: 5vw;
}
.bio-pgh {
    margin-bottom: 24px;
}
.trainer-certification {
    font-size: 1rem;
    max-width: 75%;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    color: #4d4d4d;
}
.trainer-title {
    margin-bottom: 5vh;
    max-width: 50%;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    font-size: 2rem;
}
.centered-heading {
    text-align: center;
    margin-bottom: 5vh;
}
#about-quote {
    color:#fa5183;
    font-weight: 700;
}


/* CONTACT PAGE */
#coming-soon {
    text-align: center; 
    color: #fa5183; 
    font-weight: 700;
}
input[type=text], input[type=email], select, textarea {
    width: 100%; /* Full width */
    padding: 12px; /* Some padding */ 
    border: 1px solid #ccc; /* Gray border */
    border-radius: 4px; /* Rounded borders */
    box-sizing: border-box; /* Make sure that padding and width stays in place */
    margin-top: 6px; /* Add a top margin */
    margin-bottom: 16px; /* Bottom margin */
    resize: vertical;
}
input[type=submit] {
    background-color: #04AA6D;
    color: white;
    padding: 12px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}
input[type=submit]:hover {
    background-color: #45a049;
}
.form-container {
    margin-top: 2vh;
    border-radius: 10px;
    background-color: #e7e7e7;
    padding: 20px;
    width: 50vw;
    margin-left: auto;
    margin-right: auto;
}
#message {
    height: 200px;
    font-family: "Roboto";
}


/* GALLERY PAGE */
#gallery-content {
    padding-left: 0;
    padding-right: 0;
    padding-top: 0;
    margin-top: 85px;
}

/*  */
.row {
    display: flex;
    flex-wrap: wrap;
    padding: 0 2px;
  }
.column {
    flex: 25%;
    max-width: 25%;
    padding: 0 2px;
}
.column img {
    margin-top: 4px;
    vertical-align: middle;
    width: 100%;
}
@media screen and (max-width: 800px) {
    .column {
        flex: 50%;
        max-width: 50%;
    }   
}
@media screen and (max-width: 600px) {
    .column {
        flex: 100%;
        max-width: 100%;
    }
}


/* Testimonials Slider */
.flexslider {
    margin-top: 4vh;
    width: 600px;
    margin-left: auto;
    margin-right: auto;
    display: block;
}


/* Justified Gallery */